*{
    margin: 0;
}

.AdminLogin{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(119, 255, 0, 0.22);
}

.form_container{
    width: 20%;
    padding: 1rem;
    border: .1rem solid black;
    border-radius: .4rem;
    background-color: white;
    box-shadow: 0 0 .5rem rgba(119, 255, 0, 0.445);
}

.AdminLogin form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .2rem;
}

.AdminLogin label{
    font-size: .8rem;
    font-weight: 600;
}

.AdminLogin input{
    padding: .3rem;
    font-size: .6rem;
}

.AdminLogin button{
    padding: .3rem 0;
    margin-top: .6rem;
    background-color: green;
    color: white;
    border: .1rem solid green;
    border-radius: .5rem;
    font-weight: 600;
}

.AdminLogin button:hover{
    background-color: white;
    color: green;
    border: .1rem solid green;
}